<div class = "tweets">
    <% if @tweets_with_videos.empty? %>
        <div>There are no tweets with video links for "<%= @keyword %>"</div>
    <% end %>
    
    <div class="content">
        <div class = "video_tweets">
            <% @tweets_with_videos.each do |tweet, video| %>
                <div class = "video">
                    <%= image_tag video.thumbnail, :class => "thumbnail", :id => video.video_id %>
                </div>
                <div>
                    <span><strong>Twitter User : </strong><%= tweet.user %></span> | 
                    <span><strong>Tweet : </strong><%= tweet.text %></span>
                </div>
                <div>
                    <span><strong>Youtube title : </strong><%= video.title %></span> | 
                    <span><strong>Youtube description : </strong><%= video.description %></span>
                </div>
             <% end %>
        </div>

        <div id="video_player"></div>    
    </div>
</div>